{% extends "flatpages/default.html" %}

{% load i18n %}
{% load account %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Сбросить пароль" %}{% endblock %}


{% block content %}

    <h1>{% trans "Сбросить пароль" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли свой пароль? Введите ниже свой адрес электронной почты, и мы отправим вам электронное письмо, позволяющее изменить его." %}</p>

    <form class="mb-3" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Сбросить мой пароль' %}" />
    </form>
    <div>
    <p>{% blocktrans %}Свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.{% endblocktrans %}</p>
    </div>
{% endblock %}